.container {
  padding: 80px 20px 20px;
  margin: 0 auto;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

.backLink {
  display: inline-block;
  margin-bottom: 20px;
  text-decoration: none;
  color: #007bff;
}

.mainInfo {
  display: flex;
  gap: 20px;
}

.details {
  max-width: 700px;
}

.poster {
  width: 250px;
  border-radius: 8px;
}

.title {
  font-size: 28px;
  margin: 10px 0;
}

.score {
  margin-bottom: 32px;
  font-size: 18px;
  color: #555;
}

.overview {
  margin-bottom: 32px;
  font-size: 16px;
}

.genresList {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
}

.subLinks {
  margin-top: 32px;
}

.sublinksTitle {
  margin-bottom: 16px;
}

.subLink {
  margin-right: 24px;
  text-decoration: none;
  color: #007bff;
}
