.list {
  justify-content: center;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.item {
  width: 150px;
  text-align: center;
}

.poster {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.link {
  color: #f4f4f4;
  font-weight: bold;
}

@media (prefers-color-scheme: light) {
  .link {
    color: #333;
  }
}

.link:hover {
  color: #007bff;
}
